/*  your css code here. If applicable */
#eg-1{
	width:200px;
	height:200px;
	background-color:lightblue;
	border: 2px solid black;
	display: flex;
  justify-content: center;
  align-items: center;
	
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}